#inspection-times-view {
    li {
        list-style-type: none;

        .inspection-thumbnail {
            width: 90px;
        }

        .item-container {
            align-items: center;
        }
    }
}