.suburb-search {
    .rbt-token {
        background-color: #f0fffe;
        border: 1px solid rgb(0, 190, 179);
        border-radius: 5px;
        color: rgb(85, 85, 85);
        margin: 1px 6px 5px 0;

        .rbt-close-content {
            margin-top: 0px;
            margin-left: 4px;
            text-align: center;
        }
    }

    .form-control {
        padding: 0.375rem !important;
        overflow-y: scroll;
        max-height: 70px;
    }

    .rbt-input-multi.focus {
        box-shadow: none !important;
        border-color: rgb(0, 190, 179) !important;
    }

    .scroll-message {
        font-size: 12px;
        margin-top: -2px;
    }
}