.numeric-search-field {
    width: 295px;

    .value {
        min-width: 45%;
        text-align: center;
    }
    .down,
    .up {
        min-width: 15%;
        text-align: center;
        cursor: pointer;
    }
}