.numeric-search-field {
    min-width: 270px;
    max-width: 300px;

    .controls {
        max-width: 300px;
    }
    .value {
        min-width: 45%;
        text-align: center;
    }
    .down,
    .up {
        min-width: 15%;
        text-align: center;
        cursor: pointer;
    }
}