.numeric-search-field {
    width: 295px;
    min-width: 230px;

    .controls {
        width: 100%;
    }

    .value {
        min-width: 60%;
        text-align: center;
    }
    .down,
    .up {
        min-width: 20%;
        text-align: center;
        cursor: pointer;
    }
}