<main class="main">

  <div class="App py-2 container-fluid">
    <div class="alert alert-info mb-1" role="alert">
      <strong>Demo mode</strong> - Sample data will be returned unless a Domain Property API key is supplied using the
      <code>api_key</code> query string parameter.
    </div>

    <h3 class="pt-2 bg-light">Domain Property Search</h3>

    <div class="row mt-3">
      <div class="col-12 pb-2">
        <div class="border border-secondary rounded bg-white p-2">
          <search />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="border border-secondary rounded bg-white py-2">
          <search-results />
        </div>
      </div>
    </div>

    <footer></footer>
  </div>

</main>