#search {
    overflow-x: hidden;

    textarea {
        width: 100%;
        min-height: 30px;
    }

    input[type=number] {
        width: 100%;
        max-width: 80px;
    }

    label {
        margin-bottom: 0px;
    }

    .search-button {
        min-height: 34px;
    }
}