#search {
    overflow-x: hidden;

    textarea {
        width: 100%;
        max-width: 200px;
    }

    input[type=number] {
        width: 100%;
        max-width: 80px;
    }

    label {
        margin-bottom: 0px;
    }
}