.search-result {
    .icon-bed,
    .icon-cab {
        margin-left: -2px;
        margin-right: 5px;
    }
    .icon-bath {
        margin-right: 3px;
    }
    .icon-train {
        margin-left: -4px;
        margin-right: 6px;
    }
    .icon-wrapper {
        margin-right: 10px;
        display: inline-block;
    }

    a.dark-link {
        color: rgb(33, 37, 41);
    }

    .added-date {
        position: absolute;
        top: 8px;
        left: 8px;
        background-color: rgb(0, 190, 179);
        color: white;
        font-size: 10px;
        font-weight: bold;
        border-radius: 5px;
        padding: 1px 4px;
    }
}

.search-result-wrapper {
    width: 0;
    flex: 1 1 0;
    min-width: 300px;
    max-width: 300px;
}

.search-result.archived {
    opacity: 0.5;
}