.agency-details {
    width: 100%;
    font-size: 14px;
    position: relative;
}
.agency-details.closed {
    height: 30px;
}
.agency-details .info {
    max-width:200px;
}
.agency-details .agency-name {
    line-height: 30px;
}
.agency-details .agency-logo {
    max-width: 150px;
    height: 30px;
}
.agency-details .agent-photo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.agency-details.closed .agent-photo {
    position: absolute;
    right: 5px;
    bottom: -10px;
}
.agency-details .agent-name {
    /* position: absolute;
    top: 40px;
    right: 10px; */
    font-size: 10px;
    max-width: 50px;
    word-wrap: break-word;
}