.App {

}

#output {
  border-left: 1px solid rgb(197, 197, 197);
  height: 200px;
}

#search {
  height: 100px;
}

#footer {
  color: rgb(197, 197, 197);
  font-size: 8pt;
  text-align: center;
}

label, input {
  margin-right: 10px;
}

h1 {
  color: green;
  text-align: center;
}