#output {
  min-height: 200px;
}

#footer {
  color: rgb(197, 197, 197);
  font-size: 8pt;
  text-align: center;
}

label, input {
  margin: 0 10px 10px 0;
}

h1, h2, h3, h4 {
  color: #555;
  text-align: center;
}

.border-secondary {
  border-color: #ccc !important;
}

.bg-dark {
  background-color:rgb(52, 52, 52);
}

.border-coloured {
  border: 1px solid rgb(70, 142, 236);
  box-shadow: 0 0 2px rgb(28, 126, 255);
}

.bg-mid {
  background-color: #aaa;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 2;
}
