#output {
  min-height: 200px;
}

#search {
  overflow-x: hidden;
}

#search input[type=text] {
  width: 100%;
  max-width: 200px;
}

#search input[type=number] {
  width: 100%;
  max-width: 80px;
}

#search label {
  margin-bottom: 0px;
}

#footer {
  color: rgb(197, 197, 197);
  font-size: 8pt;
  text-align: center;
}

label, input {
  margin: 0 10px 10px 0;
}

h1, h2, h3, h4 {
  color: #555;
  text-align: center;
}

.border-secondary {
  border-color: #ccc !important;
}

.search-result {
  max-width: 300px;
}

.search-result .carousel {
  height: 200px;
}
.search-result .carousel .wrapper {
  background-color: rgb(134, 134, 134);
  height: 100%;
}
.search-result .carousel .back-button,
.search-result .carousel .next-button {
  position: absolute;
  top: 80px;
  border: none;
  background-color: rgba(155, 155, 155, 0.363);
  outline: none;
  height: 40px;
  width: 40px;
  color: rgb(224, 224, 224);
  border-radius: 50%;
  padding-top: 2px;
}
.search-result .carousel .back-button:hover,
.search-result .carousel .next-button:hover {
  background-color: rgba(85, 85, 85, 0.363);
  outline: none;
  height: 40px;
  width: 40px;
  color: rgb(255, 255, 255);
}
.search-result .carousel .back-button {
  left: 5px;
  padding-right: 10px;
}
.search-result .carousel .next-button {
  right: 5px;
  padding-left: 10px;
}
.search-result .carousel .dots {
  position: absolute;
  bottom: 10px;
  width: 80%;
  left: 10%;
  color:rgb(224, 224, 224);
  font-size: 8px;
}
.search-result .carousel .img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-result .agency-details {
  width: 100%;
  font-size: 14px;
  position: relative;
}
.search-result .agency-details.open {
  height: 80px;
}
.search-result .agency-details.closed {
  height: 30px;
}
.search-result .agency-details .info {
  max-width:200px;
}
.search-result .agency-details .agency-name {
  line-height: 30px;
}
.search-result .agency-details .agency-logo {
  max-width: 150px;
  height: 30px;
}
.search-result .agency-details .agent-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 5px;
}
.search-result .agency-details.open .agent-photo {
  top: -10px;
}
.search-result .agency-details.closed .agent-photo {
  bottom: -10px;
}
.search-result .agency-details .agent-name {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 10px;
  max-width: 50px;
  word-wrap: break-word;
}

.search-result .icon-bed,
.search-result .icon-cab {
  margin-left: -2px;
  margin-right: 5px;
}
.search-result .icon-bath {
  margin-right: 3px;
}
.search-result .icon-train {
  margin-left: -4px;
  margin-right: 6px;
}

.numeric-search-field {
  min-width: 270px;
  max-width: 300px;
}

.numeric-search-field .controls {
  max-width: 300px;
}

.numeric-search-field .value {
  min-width: 45%;
  text-align: center;
}

.numeric-search-field .down,
.numeric-search-field .up {
  min-width: 15%;
  text-align: center;
  cursor: pointer;
}

.icon-wrapper {
  margin-right: 10px;
  display: inline-block;
}