#output {
  min-height: 200px;
}

#search {
  overflow-x: hidden;
}

#search input[type=text] {
  width: 100%;
  max-width: 200px;
}

#search input[type=number] {
  width: 100%;
  max-width: 80px;
}

#footer {
  color: rgb(197, 197, 197);
  font-size: 8pt;
  text-align: center;
}

label, input {
  margin: 0 10px 10px 0;
}

h2 {
  color: #555;
  text-align: center;
}

.border-secondary {
  border-color: #ccc !important;
}

.search-result img {
  max-height: 144px;
}

.search-result .icon-bed,
.search-result .icon-bath,
.search-result .icon-cab {
  margin-left: 3px;
  margin-right: 5px;
}
.search-result .icon-train {
  margin-left: -4px;
}

.numeric-search-field .controls {
  max-width: 200px;
}

.numeric-search-field .value {
  min-width: 45%;
  text-align: center;
}

.numeric-search-field .down,
.numeric-search-field .up {
  min-width: 20%;
  text-align: center;
  cursor: pointer;
}